{% extends  'base.html'%}
{% block content%}

<div class="row">
	<div class="col-md-6">
	{% if posts %}	
		{% for p in posts %}
		<blockquote>
		<h3>{{p.title}}</h3>
  		<p>{{ p.content }}</p>
  		<small> <b><a href="{{p.username}}">{{p.username}}</a></b>, <cite title="Source Title">{{p.posttime}}</cite> 
  		<a href="delete/{{p.id}}" ><span class="glyphicon glyphicon-trash" aria-hidden="true">Delete   </span></a>
  		 <a href="edit/{{p.id}}"> <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span></a></small>
		</blockquote>
		{% endfor %}
	{%else%}
		<h3>No posts</h3>
	{% endif %}
	</div>

	<div clss="col-md-6">
	<form class="form-horizontal" action='/' method="post">
<fieldset>

<!-- Form Name -->
<legend>new post</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">your name</label>  
  <div class="col-md-2">
  <input id="user_name" name="user_name" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Title</label>  
  <div class="col-md-4">
  <input id="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="conetnt">Contetnt</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="content" name="content"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-success">post</button>
  </div>
</div>

</fieldset>
</form>


	</div>
</div>

{% endblock%}
